.shop-panel {
  &-container{
    margin: 10px;
  }
  &-dropdowns {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &-band-size,
    &-cup-size {
      width: 50%;
    }
    &-band-size {
      padding-right: 10px;
    }
  }
}